<div class="card">
  <div class="card-header text-white bg-primary">
    Uploading And Downloading Files With Angular And Asp.Net Core API + NodeJs
  </div>
  <div class="card-body">
    <div>
      <h5>Upload File Area:</h5>
    </div>
    <br>
    <div class="row">
      <app-upload-file [resetAfterUpload]="true" [url]="'/upload'"
        class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" [buttonUploadName]="'Subir Arquivo(s)'">
      </app-upload-file>
    </div>
    <br>
    <br>
    <br>
    <div>
      <h5>Download File Area:</h5>
    </div>
    <br>
    <div class="row">
      <app-download-file [url]="'downloadExcel'" [buttonName]="'Download Excel'" [fileName]="'report.xlsx'">AAA
      </app-download-file>
      <app-download-file [url]="'downloadPdf'" [buttonName]="'Download Pdf'" [fileName]="'report.pdf'">
      </app-download-file>
    </div>
  </div>
</div>
