<!-- <div class="card">
  <div class="card-body">
    <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form>
        <div class="form-group">
          <label for="product"></label>
          <select id="product" (change)="changeDropProduct()" class="form-control form-control-md">
            <option value="item.id" *ngFor="let item of productList">{{item.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="category"></label>
          <select id="category" class="form-control form-control-md">
            <option value="item.id" *ngFor="let item of categoryList">{{item.title}}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-success"><span class="icon-plus"></span> Success
            Button</button>
        </div>
      </form>
    </div>
    <br>
    <app-download-file [url]="'downloadPdf'" [buttonName]="'Download Pdf'" [fileName]="'report.pdf'">
    </app-download-file>
    <br>
    <br>
    <app-download-file [url]="'downloadExcel'" [buttonName]="'Download Alternativo'" [fileName]="'report.xlsx'">
    </app-download-file>
  </div>
</div> -->

<div class="card">
  <div class="card-body">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 animated fadeIn">
      <div class="row pb-4 col-lg-12 col-md-12 text-center">
        <h4 class="text-center m-lg-auto m-md-auto text-primary">Ações</h4>
      </div>
      <div class="row pb-4 col-lg-12 col-md-12 text-center">
        <h5 class="text-center m-lg-auto m-md-auto text-info">
          Painel de Cotações Online
        </h5>
      </div>
      <div class="row">
        <div
          class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pull-left m-lg-auto m-md-auto"
          *ngFor="let item of dictStocks | keyvalue"
        >
          <div
            class="card text-white"
            [ngClass]="{
              'bg-success': item.value.change > 0,
              'bg-danger': item.value.change < 0
            }"
          >
            <div class="card-body text-center pt-5">
              <p>
                <strong>{{ item.key }} </strong>
                {{ item.value.currentValue | currency: "BRL":"symbol":"1.2-2" }}
                | {{ item.value.change | percent: "1.2-2" }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-4 pt-5 col-lg-12 col-md-12 text-center">
        <h6 class="text-center m-lg-auto m-md-auto text-danger">
          <strong>{{ stockMessageAlert }}</strong> {{ messsageAlert }}
        </h6>
      </div>
    </div>
  </div>
</div>
