<div class="card">
  <div class="card-header">
    RxJS Exemplos
  </div>
  <div class="card-body">
    <!-- <p>
      Testar Agrupador de Pessoas:
    </p>
    <button (click)="agrupar()" class="btn btn-primary">Agrupar</button> -->
    <input #idModelo id="idModeloPlano" type="number" >
    <button (click)="atualizarValor()" class="btn btn-primary">Atualizar</button>
    <br>
    <br>
    <p>Testando os Subjects</p>
    <button (click)="eventNext()" class="btn btn-primary">Evento Proximo</button>
    <button (click)="eventError()" class="btn btn-warning ml-4">Evento Erro</button>
    <button (click)="eventComplete()" class="btn btn-success ml-4">Evento Complete</button>
    <button (click)="eventUnsubscribe()" class="btn btn-secondary ml-4">Evento Unsubscribe</button>
    <button (click)="eventDefer()" class="btn btn-secondary ml-4">Evento Defer</button>
    <br>
    <br>
    <button #buttonEvent >Evento Operador</button>
    <br>
    <!-- <br>
    <h4>Exemplo Drang and Drop Reativo</h4>
    <div #cardEvent class="cardDiv">

    </div> -->
    <!-- <br> -->
    <!-- <br> -->
    <br>
    <br>
    <h4>Exemplo AutoComplete com RxJs</h4>
    <input #inputEvent placeholder="Pesquisar País..." class="form-control col-lg-4 col-md-4" type="text" >
    <ul id="listaPaises"></ul>
    <br>
    <br>
    <br>
    <br>


  </div>
</div>
